# Set architecture to RISC-V 32-bit
set arch riscv:rv32

# Enable verbose output for remote debugging
set debug remote 1

# Connect to the GDB server
target remote localhost:3333

# monitor reset halt